.table-booing-img {
  width: 70%;
  cursor: pointer;
}

.table-img-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.tableCard {
  border: 1px solid var(--black);
  padding: 20px;
  margin: 15px 47px;
  border-radius: 15px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 500px) {
  .tableCard {
    margin: 10px;
    border-radius: 10px;
    box-shadow: none;
  }
}

.bg-red {
  background-color: var(--red);
}

.table-number-div {
  background-color: var(--white);
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px var(--black);
  display: block;
  height: 45px;
  width: 45px;
  margin-left: auto;
  margin-right: auto;
}

.table-book-btn {
  padding: 5px;
  margin: 3px;
  margin-left: 20px;
  width: 150px;
  border-radius: 30px;
  border: none;
  color: var(--white);
  background-color: var(--black);
  box-shadow: 0px 3px 1px -2px var(--black);
}

.table-book-btn:hover {
  box-shadow: 3px 4px 2px -2px var(--gray);
}
