.order-card {
  background-color: transparent;
  margin: 30px;
  padding: 10px;
  max-width: 350px;
  height: 120px;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 5px;
  box-shadow: 2px 3px rgb(73, 73, 73);
  cursor: pointer;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.order-heading {
  margin-top: 20px;
}
.img-card {
  position: absolute;
  right: 20px;
  height: 85px;
  width: 85px;
  bottom: 13px;
  border-radius: 20px;
}
.order-profile-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
