.list-update-btn {
  padding: 5px;
  margin: 5px;
  width: 150px;
  border-radius: 30px;
  border: none;
  color: var(--white);
  background-color: var(--green);
  box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.list-delete-btn {
  padding: 5px;
  margin-left: 20px;
  width: 150px;
  border-radius: 30px;
  border: none;
  color: var(--white);
  background-color: var(--red);
  box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.button-add-material {
  padding: 5px;
  margin: 3px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: var(--white);
  background-color: var(--red);
  box-shadow: 0px 3px 1px -2px var(--black);
}

.button-add-material:hover {
  box-shadow: 3px 4px 2px -2px var(--black);
}

.auth-page-btn {
  padding: 5px;
  margin: 3px;
  width: 150px;
  border-radius: 30px;
  border: none;
  color: var(--white);
  background-color: var(--red);
  box-shadow: 0px 3px 1px -2px var(--black);
}

.auth-page-btn:hover {
  box-shadow: 3px 4px 2px -2px var(--black);
}
