.product-item-card {
  background-color: #fff;
  margin-top: 40px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  display: block;
  box-shadow: 1px 1px 3px gray;
}

.product-item-card-img {
  border-radius: 10px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 180px;
  display: block;
  box-shadow: 1px 1px 3px 1px gray;
}

.btn-add-to-card {
  border-radius: 125px;
  background-color: #ef4f5f;
  padding: 8px;
  width: 100%;
  color: white;
  margin-top: 20px;
  border: none;
}

.btn-add-to-card:hover {
  box-shadow: 2px 3px 2px -2px rgb(0, 0, 0);
}

.count-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: #ef4f5f;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
}

.count-text {
  font-size: 35px;
}

.quantity-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.price-rupees {
  font-size: 22px;
  margin-left: 25px;
}
.plus-minus {
  font-size: 40px;
  margin-top: 5px;
}
