.product-item-card {
  background-color: #fff;
  margin-top: 40px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  display: block;
  box-shadow: 1px 1px 3px var(--gray);
}

.product-item-card-img {
  border-radius: 10px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 180px;
  display: block;
  box-shadow: 1px 1px 3px 1px var(--gray);
}

.btn-add-to-card {
  border-radius: 125px;
  background-color: var(--red);
  padding: 8px;
  width: 100%;
  color: var(--white);
  margin-top: 20px;
  border: none;
}

.btn-add-to-card:hover {
  box-shadow: 2px 3px 2px -2px var(--black);
}

.count-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: var(--red);
  color: var(--white);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
}

.count-text {
  font-size: 30px;
}

.quantity-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price-category-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.price-rupees {
  font-size: 18px;
}

.card-category-type {
  font-size: 15px;
  color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--green);
  background-color: var(--green);
  padding: 3px;
}

.plus-minus {
  font-size: 40px;
  margin-top: 5px;
}
