.table {
  width: 50%;
  cursor: pointer;
}

.table-img-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.qr-code-btn {
  padding: 5px;
  margin: 3px;
  width: 100px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: #efad19;
  box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.table-info-btn{
  padding: 5px;
  margin: 3px;
  width: 100px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: #563d7c;
  box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.btn-update-table {
  padding: 5px;
  margin: 3px;
  width: 100px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: #4db33d;
  box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.btn-delete-table {
  padding: 5px;
  margin: 3px;
  margin-left: 20px;
  width: 150px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: #ef4f5f;
  box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.btn-update-table-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.tableCard {
  border: 1px solid black;
  padding: 20px;
  margin: 30px 47px;
  border-radius: 15px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 500px) {
  .tableCard {
    margin: 0px;
    border-radius: 0;
    box-shadow: none;
  }
}

.bg-red {
  background-color: #cae9ff;
}
