.signup-page {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: rgba(0, 0, 0, 0.75);
}

.page-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .page-content {
    width: 40%;
    margin: 15% auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 801px) {
  .page-content {
    width: 45%;
    margin: 20% auto;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .page-content {
    width: 65%;
    margin: 30% auto;
  }
}

@media screen and (min-width: 250px) and (max-width: 400px) {
  .page-content {
    width: 80%;
    margin: 40% auto;
  }
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.signup-form-input {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  border-radius: 7px;
}

.signup-form-input:focus {
  outline: none;
}

@media screen and (max-width: 360px) {
  .signup-form-container {
    width: 115%;
  }
}
