.navbar {
  box-shadow: 0px 0px 0.5px 0.5px gray;
}

.nav-color {
  color: black;
}

.navbar-toggler {
  color: black;
}

.btn {
  font-size: 18px;
}

.signup-btn {
  margin: 10px;
  cursor: pointer;
}

.login-btn {
  cursor: pointer;
}
