.navbar-heading {
  margin-left: 30px;
}

.homepage-route {
  margin-left: 50px;
}

.login-btn {
  margin-right: 15px;
}

.signup-btn {
  margin-right: 15px;
}

.shopping-cart {
  height: 25px;
  width: 25px;
}

.current-user-name {
  font-size: 15px;
  margin-right: 20px;
}

.loggout-span {
  color: black;
}

.profile-link-tag {
  text-decoration: none;
  color: black;
}

.homepage-route {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-right: 80px;
}

.shopping-conatiner {
  margin-right: 30px;
}
