.my-product-list-heading {
  margin-top: 100px;
}

.confirm-btn {
  padding: 5px;
  margin: 3px;
  width: 200px;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  color: white;
  box-shadow: 0px 3px 1px -2px rgb(43, 42, 42);
}

.product-card {
  background-color: transparent;
  margin: 30px;
  padding: 15px;
  width: 285px;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 5px;
  box-shadow: 2px 3px rgb(73, 73, 73);
  cursor: pointer;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.product-card:hover {
  box-shadow: 5px 4px rgb(73, 73, 73);
  transition: 0.5s;
}

@media screen and (max-width: 735px) {
  .product-card {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1080px) {
  .product-card {
    margin-left: auto;
    margin-right: auto;
  }
}

.product-img {
  height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  box-shadow: 2px 0px 2px 0px gray;
}

.deleteIcon {
  width: 25px;
  position: absolute;
  top: 5px;
  right: 10px;
}
.deleteIcon:hover {
  border-radius: 50%;
  box-shadow: 0 0 1.5px 2px rgb(165, 36, 36);
}

.product-card-information-container {
  display: flex;
  justify-content: space-around;
}
